default: &default
  adapter: postgresql
  encoding: utf8
  reconnect: true
  pool: 5
  wait_timeout: 50
  # max time to wait for a db connection, in ms
  connect_timeout: 50
  # read/write timeouts in ms
  read_timeout: 1000
  write_timeout: 1000

development:
  <<: *default
  database: healer_core_development

test:
  <<: *default
  database: healer_core_test

production:
  <<: *default
  database: healer_core_production
