default: &default
  adapter: postgresql
  encoding: utf8
  reconnect: true
  pool: 5
  wait_timeout: 50
  # max time to wait for a db connection, in ms
  connect_timeout: 50
  # read/write timeouts in ms
  read_timeout: 1000
  write_timeout: 1000
  host: <%= ENV['PG_HOST'] %>
  user: <%= ENV['PG_USER'] %>
  port: <%= ENV['PG_PORT'] %>
  database: <%= ENV['PG_DB'] %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
